<a href="https://colab.research.google.com/github/Abhishek-gupta136/Numpy_project/blob/main/Sale_anaylsis_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
months = np.array(['JAN','FEB','MAR','MAY','APR','JUN','JUL','AUG','OCT','SEP','NOV','DEC'])
sales = []

In [6]:
print("Enter sales (in $1000) in each months")
for month in months:
   value = float(input(f"{month}: "))
   sales.append(value)

Enter sales (in $1000) in each months
JAN: 21222
FEB: 546
MAR: 5656
MAY: 565656
APR: 556
JUN: 56
JUL: 5656
AUG: 6565
OCT: 599944
SEP: 565631
NOV: 5656
DEC: 64556

In [8]:
sale = np.array(sales)
print("total sale in year: ", np.sum(sale))
print("average of sale in year: ", np.mean(sale))
print("maximum sale of year:", np.max(sale))
print("minimum sale  of year:", np.min(sale))

best_month = months[np.argmax(sale)]
worst_month = months[np.argmin(sale)]
print("best month of year:" , best_month)
print("worst month of year: ", worst_month)

above_avg = months[sale > np.mean(sale)]
below_avg = months[sale < np.mean(sale)]
print("above average sales: ", above_avg)
print("below average sales: ", below_avg)

total sale in year:  1841700.0
average of sale in year:  153475.0
maximum sale of year: 599944.0
minimum sale  of year: 56.0
best month of year: OCT
worst month of year:  JUN
above average sales:  ['MAY' 'OCT' 'SEP']
below average sales:  ['JAN' 'FEB' 'MAR' 'APR' 'JUN' 'JUL' 'AUG' 'NOV' 'DEC']